<div class="flex justify-center px-4">
  <div class="flex gap-4 mt-4 max-w-[2036px] flex-grow">
    <app-button
      icon="save"
      label="{{ 'redactor.save' | t }}"
      [size]="7"
      (appClick)="save()"
    ></app-button>

    <input #file type="file" (change)="upload($event)" class="hidden" />
    <app-button
      icon="folder-open"
      label="{{ 'redactor.load' | t }}"
      [size]="7"
      (appClick)="file.click()"
    ></app-button>

    <app-button
      icon="plus-circle"
      label="{{ 'redactor.new' | t }}"
      [size]="7"
      (appClick)="reset()"
    ></app-button>

    <a [routerLink]="['/' + module.name, 'print']">
      <app-button
        icon="printer"
        label="{{ 'redactor.printable' | t }}"
        [size]="7"
      ></app-button>
    </a>
  </div>
</div>

<div class="flex flex-col items-center gap-4">
  <div id="vs-start" [style.height]="vsBefore + 'px'"></div>
  @for (page of displayedPages; track page.id) {
    <div class="flex w-full justify-center gap-4 px-4">
      <div
        class="h-[29.7cm] flex-grow max-w-[32.5cm] flex flex-col rounded bg-gray-800"
      >
        @if (page.movable) {
          <div class="flex p-1">
            <div class="flex gap-1">
              <app-button
                icon="arrow-up"
                title="{{ 'redactor.pageUp' | t }}"
                (appClick)="pageUp(page)"
                [size]="7"
              ></app-button>
              <app-button
                icon="arrow-down"
                title="{{ 'redactor.pageDown' | t }}"
                (appClick)="pageDown(page)"
                [size]="7"
              ></app-button>
            </div>
            <app-button
              icon="X"
              title="{{ 'redactor.removePage' | t }}"
              class="ml-auto"
              (appClick)="removePage(page)"
              [size]="7"
            ></app-button>
          </div>
        }

        <app-form
          class="flex-grow flex flex-col mx-4 my-2"
          [schema]="page.constructor"
          [data]="page"
        ></app-form>

        @if (!pages[page.id + 1] || pages[page.id + 1].movable) {
          <div class="flex justify-center gap-4 p-1">
            @for (type of module.availablePages(); track type.name) {
              <app-button
                icon="plus-circle"
                label="{{ 'redactor.page.' + type.name | t }}"
                (appClick)="addPage(page.id + 1, type)"
                [size]="7"
              ></app-button>
            }
          </div>
        }
      </div>
      <app-redactor-page [page]="page"></app-redactor-page>
    </div>
  }
  <div [style.height]="vsAfter + 'px'"></div>
</div>
